@custom-media --mobile-width (max-width: 680px);
@custom-media --third-breakpoint (max-width: 800px);
@custom-media --first-breakpoint (max-width: 1180px);
@custom-media --tablet (min-width: 680px) and (max-width: 1023px);
@custom-media --desktop (min-width: 1180px);
