.genesis-nav-menu {
	background: teal;
}

.header {
	background: chocolate;
}

@media (any-hover: hover) {
	.genesis-nav-menu:hover ul {
		background: purple;
	}
}

@media (hover: hover) {
	.second:hover {
		display: none;
	}
}

@media (max-width: 1023px) {
	.genesis-nav-menu {
		float: none
	}
}

@media (max-width: 680px) {
	.genesis-nav-menu {
		display: none
	}
}

@media (max-width: 480px) {
	.genesis-nav-menu {
		display: inline-flex
	}
	@media (hover: hover) {
		.genesis-nav-menu:hover ul {
			background: red;
		}
	}
}

@media print {
	.genesis-nav-menu {
		display: none
	}
}
