/* stylelint-disable selector-class-pattern */

.Ⓜglobal-nested__form__oC {
	margin: 40px 0 50px;
	width: 100%;
}

.Ⓜglobal-nested__form__oC h3.gform_title {
	font-size: 40px;
	font-weight: 300;
	line-height: 1.2;
}

.Ⓜglobal-nested__form__oC .gform_description {
	color: var(--color-description);
	font-size: 18px;
}

.Ⓜglobal-nested__form__oC .gf_progressbar {
	display: none;
}

.Ⓜglobal-nested__form__oC .gf_progressbar_wrapper .gf_progressbar_title {
	background-color: #1b3768;
	border-radius: 2px;
	color: #fff;
	display: inline-block;
	font-size: 18px;
	font-weight: 700;
	margin: 0 !important;
	opacity: 1;
	padding: 8px 12px !important;
}
